{% load static %}
<!DOCTYPE html>
<html>
<body>
<h1 align = "center">
DrWorm useless site 
</h1>

</style><div align="center"><a href="/about"><h2>about me</h2></a>
</div>
<center>
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
<img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65""><img src="{% static "worm.gif" %}" alt="worm dancing width="65" height="65"">
</center>
<style>
body{
  margin:0;
  padding:0;
  background-color:		#ADFF2F;
}

div{
  position:relative;
  width:600px;
  height:auto;
  margin:0 auto;
}
</style>
</body>
<footer align = "center">
  <p>No one cares but , all copyrights © for DrWorm :( </p>
</footer>
</html>
